<%- include("./partials/header") %>

<h1 class="category-title">Service Categories Details </h1>

<div class="renamecate">
    <h2>Category: <%= category.name %></h2>

    <a href="/edit-category/<%= category.category_id %>">
        ✏️ Rename This Category
    </a>
</div>

<h3 class="detailh2" >Associated Projects</h3>

<ul class="cati-ul">
    <% projects.forEach(project => { %>
        <li>
            <a href="/project/<%= project.project_id %>">
                <%= project.title %>
            </a>
        </li>
    <% }) %>
</ul>

<%- include("./partials/footer") %>
