<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organizations:</p>
        <ul>

            <% organizations.forEach(organization => { %>
                <li><img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo"><strong><a href="/organization/<%= organization.organization_id %>"><%= organization.name %></a></li>
            <% }); %>
        </ul>
        <p>
            <% if (user && user.role_name === 'admin') { %>
                <a href="/new-organization">Add New Organization</a>
            <% } %>
        </p>
    </main>

<%- include('partials/footer') %>