<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <div class="projects-container">

        <% projects.forEach(project => { %>

            <div class="project-card">

                <h2>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.title %>
                    </a>
                </h2>

                <p>
                    <strong>Organization:</strong>

                    <a href="/organization/<%= project.organization_id %>">
                        <%= project.organization_name %>
                    </a>
                </p>

                <p>
                    <strong>Date:</strong>
                    <%= new Date(project.project_date).toLocaleDateString() %>
                </p>

                <p>
                    <strong>Location:</strong>
                    <%= project.location %>
                </p>

            </div>

        <% }) %>

    </div>
<p>
    <% if (user && user.role_name === 'admin') { %>
        <li><a href="/new-project">Add New Project</a></li>
    <% } %>
</p>
</main>

<%- include('partials/footer') %>